@font-face {
    font-family: "tomarik-display-line";
    src: url("../assets/fonts/tomarik-display-line.ttf");
}
@font-face {
    font-family: "tomarik-display";
    src: url("../assets/fonts/tomarik-display.ttf");
}

.auth-container{
    display: flex;
    height: 100%;
    width: 100%;
}

.auth-child-greet{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    background-color: #b5e48c;
    box-sizing: border-box;
    min-width: 0;
    overflow-wrap: break-word;
    font-family: "tomarik-display-line";
}

.auth-child-login{
    flex-grow: 1; /* Grow equally when there is extra space */
    flex-shrink: 1; /* How items shrink when there is not enough space */
    flex-basis: 0; /* Ignore the content's actualy width consider it as */
    background-color: #99d98c;
    box-sizing: border-box;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 5vh;
    font-size: 6rem;
    font-family: "tomarik-display-line";
}

.auth-child-greet > p{
    margin: 5vh;
    font-size: 1.8rem;
    font-family: "tomarik-display-line";
}

.auth-login-form-container{
    display: flex;
    flex-grow: 0.75;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-login-form{
    background-color: #76c893;
    border-radius: 1vh;
    height: 40vh;
    width: 40vw;
    padding: 5vh;
    display: flex;
    flex-direction: column;
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form-row{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    font-family: 'tomarik-display';
}

.form-row > p{
    color: #cc0000;
}

.form-row > p:hover{
    text-decoration: underline;
}

.form-row > label{
    font-size: 2.5vh;
    background-color: #52B69A;
    border-radius: 1vh;
    padding: 2vh 4vh;
    width: auto
}

.form-row > input{
    width: 32%;
    border-radius: 1vh;
    border: none;
}

.form-buttons > button{
    font-family: "tomarik-display";
    font-size: 2.5vh;
    padding: 1vh 4vh;
    border-radius: 8px;
    background-color: #52b69a;
    border: none;
    margin: 0vh 1vh 0vh;
}